<div class="message-holder column">
  <h1>Your message</h1>
  <div class="column">
    <p> 
      <strong>Subject:</strong>
      <%= @message.subject %>
    </p>

    <p>
      <strong>Your Email:</strong>
      <%= @message.sender %>
    </p>

    <p>
      <strong>To:</strong>
      <%= @message.receiver %>
    </p>

    <div class="message-container">
      <strong>Message:</strong>
      <p>
        <%= @message.body %>
      </p>
    </div>

    <%= link_to  "New Message", root_path, class: 'action-btn new-btn' %>
  </div>
</div>